@model PMS.Models.Overtime

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimeDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TotalHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatePerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatePerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimeStatus)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-row ">
            <button class="btn btn--radius-2 btn--red" type="submit">Delete</button> |
            <div>
                <button class="btn btn--radius btn--white"> @Html.ActionLink("Back to List", "Index")</button>
            </div>

        </div>
    }
</div>
