@using Vereyon.Web
@model IEnumerable<PMS.Models.Overtime>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", "Create", new { @class = "btn btn--radius btn--green" })
</p>
<br />
@Html.RenderFlashMessages()
<h3 class="card-title text-center">List of Overtimes</h3>
<table id="OvertimeTable" class="table table-responsive table-hover table-bordered" style="background-color: aquamarine">
    <thead>
        <tr>
            <th>
                Employee Code
            </th>
            <th>
                Over Time Date
            </th>

            <th>
                Total Hour
            </th>
            <th>
                Rate Per Hour
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Over Time Status
            </th>
            <th>
                Action
            </th>
            <th>
                Action
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                @if (item.OvertimeStatus == "InActive")
                {
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.Employee.Code)
                    </td>
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.OvertimeDate)
                    </td>

                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.TotalHour)
                    </td>
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.RatePerHour)
                    </td>
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>

                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.OvertimeStatus)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OvertimeDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RatePerHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OvertimeStatus)
                    </td>
                }

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        </tbody>
    }

</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#OvertimeTable').DataTable({
                "searching": true,
                "ordering": true,
                //"scrollY": "200px",
                "scrollCollapse": true
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>


}