@model PMS.Models.Leave

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>

    <br />
    <dl class="dl-horizontal">
        <dt>
            Employee Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveStatus)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-row ">
    <button class="btn btn--radius-2 btn--red" type="submit">Delete</button> |
    <div>
        <button class="btn btn--radius btn--white"> @Html.ActionLink("Back to List", "Index")</button>
    </div>

</div>
    }
</div>
