@using PMS.Models
@using Vereyon.Web
@model PMS.Models.Advance

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.RenderFlashMessages()
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
    <div class="card card-5">
    <div class="card-heading">
        <h2 class="title">Create Advance</h2>
    </div>
    <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="name">Date</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvanceDate, new { htmlAttributes = new { @type = "date", @id = "AdvanceDate", @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.AdvanceDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="name">Reason</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvanceReason, new { htmlAttributes = new { @id = "AdvanceReason", @class = "input--style-5" } })
                @Html.ValidationMessageFor(model => model.AdvanceReason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="name">Amount</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvanceAmount, new { htmlAttributes = new { @class = "input--style-5" } })
                @Html.ValidationMessageFor(model => model.AdvanceAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="name">Status</div>
            <div class="col-md-10">
                <div class="rs-select2 select--no-search">
                    @Html.DropDownListFor(x => x.AdvanceStatus, new[]
                    {
                        new SelectListItem() {Text = "Active", Value = "Active"},
                        new SelectListItem() {Text = "InActive", Value = "InActive"},
                    }, "Select Status", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AdvanceStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

        <div class="form-row">
            <div class="name">Employee Code</div>
            <div class="col-md-10">
                @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>

        <div class="form-row">
            <div>
                <button class="btn btn--radius-2 btn--blue" type="submit">Create</button>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

}

<div>
    <button class="btn btn--radius btn--white"> @Html.ActionLink("Back to List", "Index")</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
