@model PMS.Models.Allowance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
<div class="wrapper wrapper--w790">
<div class="card card-5">
<div class="card-heading">
<div class="card-heading">
    <h2 class="title">Details Allowance</h2>
</div>
<div class="card-body">
<div class="form-row">

            
    <dl class="dl-horizontal" >
        <dt class="name" style="color: white">
            Allowance Type
        </dt>

        <dd class="name" style="color: white">
            @Html.DisplayFor(model => model.AllowanceType)
        </dd>

        <dt class="name" style="color: white">
            Allowance Amount
        </dt>

        <dd class="name" style="color: white">
            @Html.DisplayFor(model => model.AllowanceAmount)
        </dd>

        <dt class="name" style="color: white">
            Allowance Status
        </dt>

        <dd class="name" style="color: white">
            @Html.DisplayFor(model => model.AllowanceStatus)
        </dd>

    </dl>
</div>
</div>
</div>
</div>
</div>
</div>

<p>
    <div>
        <button class="btn btn--radius btn--white"> @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </button>
    </div>
     
    <div>
        <button class="btn btn--radius btn--white"> @Html.ActionLink("Back to List", "Index")</button>
    </div>
</p>
