@model PMS.Models.Schedule

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ClockPicker/bootstrap-clockpicker.min.css" rel="stylesheet" />




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Update Schedule</h2>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-row" data-autoclose="true">
                        <div class="name">Shift Name</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShiftName, new { htmlAttributes = new { @class = "input--style-5" } })
                            @Html.ValidationMessageFor(model => model.ShiftName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row" data-autoclose="true">
                        <div class="name">Start Time</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartTIme, new { htmlAttributes = new { id = "Start", @class = "form-control", PlaceHolder = "Starting Time" } })
                            @Html.ValidationMessageFor(model => model.StartTIme, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" data-autoclose="true">
                        <div class="name">End Time</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", id = "End", PlaceHolder = "Ending Time" } })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div>
                            <button class="btn btn--radius-2 btn--blue" type="submit">Save</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn--radius btn--white"> @Html.ActionLink("Back to List", "Index")</button>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/ClockPicker/js/jquery.min.js"></script>
    <script src="~/Content/ClockPicker/js/bootstrap.min.js"></script>


    <!-- ClockPicker script -->
    <script src="~/Content/ClockPicker/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript">
        var start = $('#Start').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            vibrate: true,
            twelvehour: true,
            'default': 'now'
        });
        var End = $('#End').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            vibrate: true,
            twelvehour: true,
            'default': 'now'
        });

    </script>
}
